.vs-loading-container {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: ~'calc(100% - 12px)';

  transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -webkit-transition: opacity .6s ease-in-out;

  .progress {
    height: 6px;
    width: 100%;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    margin: 0;
  }
}

.vs-loading-overlay {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: ~'calc(100% - 12px)';
  background-color: #fff;

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
