.vs-resize-box {
  border: 1px dashed #aaaaaa;
  position: absolute;
  width: calc(100% + 2 * 24px);
  height: calc(100% + 2 * 24px);
  top: -24px;
  left: -24px;
}
.vs-resize-grab {
  opacity: 0;
  position: absolute;
  border: 1px solid #aaaaaa;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.vs-resize-grab.vs-grab-diagonal {
  width: 24px;
  height: 24px;
}
.vs-resize-grab.vs-grab-top-left {
  top: -12px;
  left: -12px;
  cursor: nw-resize;
}
.vs-resize-grab.vs-grab-top-right {
  top: -12px;
  right: -12px;
  cursor: ne-resize;
}
.vs-resize-grab.vs-grab-bottom-left {
  bottom: -12px;
  left: -12px;
  cursor: sw-resize;
}
.vs-resize-grab.vs-grab-bottom-right {
  bottom: -12px;
  right: -12px;
  cursor: se-resize;
}
.vs-resize-grab.vs-grab-vertical {
  top: 12px;
  width: 24px;
  height: calc(100% - 24px);
  cursor: ew-resize;
}
.vs-resize-grab.vs-grab-vertical.vs-grab-left {
  left: -12px;
}
.vs-resize-grab.vs-grab-vertical.vs-grab-right {
  right: -12px;
}
.vs-resize-grab.vs-grab-horizontal {
  left: 12px;
  height: 24px;
  width: calc(100% - 24px);
  cursor: ns-resize;
}
.vs-resize-grab.vs-grab-horizontal.vs-grab-top {
  top: -12px;
}
.vs-resize-grab.vs-grab-horizontal.vs-grab-bottom {
  bottom: -12px;
}
