[project]
	description = Visualization Library for Computational Biology
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Florin Chelaru (florin-chelaru)
[access "refs/for/refs/*"]
	read = group user/Florin Chelaru (florin-chelaru)
	push = group user/Florin Chelaru (florin-chelaru)
	label-Code-Review = -2..+2 group user/Florin Chelaru (florin-chelaru)
	label-Verified = -1..+1 group user/Florin Chelaru (florin-chelaru)
	rebase = group user/Florin Chelaru (florin-chelaru)
	removeReviewer = group user/Florin Chelaru (florin-chelaru)
	submit = group user/Florin Chelaru (florin-chelaru)
[access "refs/heads/*"]
	read = group user/Florin Chelaru (florin-chelaru)
	create = group user/Florin Chelaru (florin-chelaru)
	push = +force group user/Florin Chelaru (florin-chelaru)
	pushMerge = group user/Florin Chelaru (florin-chelaru)
[access "refs/tags/*"]
	push = +force group user/Florin Chelaru (florin-chelaru)
	pushTag = group user/Florin Chelaru (florin-chelaru)
	pushSignedTag = group user/Florin Chelaru (florin-chelaru)
