.vs-axis-x path,
.vs-axis-y path,
.vs-axis-x line,
.vs-axis-y line {
  fill: none;
  stroke: #565656;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
.vs-data-context {
  cursor: default;
}
.vs-resize-box {
  border: 1px dashed #aaaaaa;
  position: absolute;
  width: calc(100% + 2 * 24px);
  height: calc(100% + 2 * 24px);
  top: -24px;
  left: -24px;
}
.vs-resize-grab {
  opacity: 0;
  position: absolute;
  border: 1px solid #aaaaaa;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1050;
}
.vs-resize-grab.vs-grab-diagonal {
  width: 24px;
  height: 24px;
}
.vs-resize-grab.vs-grab-top-left {
  top: -12px;
  left: -12px;
  cursor: nw-resize;
}
.vs-resize-grab.vs-grab-top-right {
  top: -12px;
  right: -12px;
  cursor: ne-resize;
}
.vs-resize-grab.vs-grab-bottom-left {
  bottom: -12px;
  left: -12px;
  cursor: sw-resize;
}
.vs-resize-grab.vs-grab-bottom-right {
  bottom: -12px;
  right: -12px;
  cursor: se-resize;
}
.vs-resize-grab.vs-grab-vertical {
  top: 12px;
  width: 24px;
  height: calc(100% - 24px);
  cursor: ew-resize;
}
.vs-resize-grab.vs-grab-vertical.vs-grab-left {
  left: -12px;
}
.vs-resize-grab.vs-grab-vertical.vs-grab-right {
  right: -12px;
}
.vs-resize-grab.vs-grab-horizontal {
  left: 12px;
  height: 24px;
  width: calc(100% - 24px);
  cursor: ns-resize;
}
.vs-resize-grab.vs-grab-horizontal.vs-grab-top {
  top: -12px;
}
.vs-resize-grab.vs-grab-horizontal.vs-grab-bottom {
  bottom: -12px;
}
.visualization {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: auto;
}
.vs {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
*[class^="vs-"],
*[class*=" vs-"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.vs-window-container {
  position: absolute;
  background-color: #b2b2b2;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 12px;
  overflow: hidden;
}
